body {
    background-image: url("images/cloudsbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#container {
    position: fixed;
    background-color: white;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    opacity: 0.8;
}
#logo {
    background-image: url("images/twittlerlogo.png");
    background-attachment: fixed;
    background-position-x: 52%;
    background-position-y: -50%;
    background-repeat: no-repeat;
    left: 35%;
    position: relative;
    width: 2000px;
    height: 400px;
}