body {
    background-image: url("images/cloudsbg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#container {
    position: relative;
    background-color: white;
    width: 500px;
    left: 35%;
    margin-top: -200px;
    opacity: 0.8;
}
#logo {
    background-image: url("images/twittlerlogo.png");
    background-position-y: 180%;
    background-repeat: no-repeat;
    left: 35%;
    position: relative;
    width: 500px;
    height: 400px;
}